/*--------------------------------------------------------------
# Import
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Volkhov:wght@700&display=swap");
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.1;
  font-family: "Volkhov", serif;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.4375rem;
  font-weight: bold;
  line-height: 1.1;
  font-family: "Volkhov", serif;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  font-family: "Volkhov", serif;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.5625rem;
  font-weight: bold;
  line-height: 1.1;
  font-family: "Volkhov", serif;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.1;
  font-family: "Volkhov", serif;
  margin-bottom: 1rem;
}

h6 {
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.1;
  font-family: "Volkhov", serif;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

.text-bold {
  font-weight: bold;
}

.text-white {
  color: white;
}

.text-small {
  font-size: 0.875rem;
}

.text-small-bold {
  font-size: 0.875rem;
  font-weight: bold;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: currentColor;
}

.uppercase {
  text-overflow: uppercase;
}

.btn {
  color: white;
  background: #d32f2f;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.625rem 1.5625rem;
  border: none;
  border-radius: 0.125rem;
}

.btn:hover {
  color: white;
}

.btn-animation {
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn-animation:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d32f2f;
  z-index: -2;
}
.btn-animation:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #263041;
  transition: all 0.3s;
  z-index: -1;
}
.btn-animation:hover:before {
  width: 100%;
}

.underline-link:hover {
  text-decoration: underline solid 2px;
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.1em;
}

.cursor-pointer {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  color: black;
}

.spacer-top {
  padding-top: 8em;
}

.spacer-bottom {
  padding-bottom: 8em;
}

@media screen and (max-width: 575px) {
  .spacer-top {
    padding-top: 4em;
  }

  .spacer-bottom {
    padding-bottom: 4em;
  }
}
@media screen and (max-width: 375px) {
  h5 {
    font-size: 1rem;
  }

  h2 {
    font-size: 2rem;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 0.75rem;
  }

  .btn {
    font-size: 0.75rem;
  }
}
.header {
  display: flex;
  align-items: center;
  padding: 1.75em 0;
}

.burger-menu {
  padding-right: 1em;
}

.logo {
  white-space: nowrap;
  font-size: 1.5625rem;
  font-weight: bold;
  line-height: 1.1;
  font-family: "Volkhov", serif;
  padding-right: 1.5em;
}

.nav-menu__link:hover {
  text-decoration: underline solid 2px;
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.125em;
}

.nav-menu__list > :last-child {
  margin: 0;
}

.nav-menu__item {
  margin-right: 1.875em;
}

.phone-link {
  color: black;
  display: flex;
  align-items: center;
  border: 2px solid transparent;
}
.phone-link__phone-call-icon {
  font-size: 1.1em;
  font-weight: bold;
  margin-right: 0.325em;
}

.phone-link:hover {
  border-bottom: 2px solid black;
}

.contact-btn {
  margin-left: 1.875em;
}

@media screen and (max-width: 575px) {
  .header {
    padding: 1em 0;
  }

  .logo {
    font-size: 1rem;
  }
}
@media screen and (max-width: 375px) {
  .header {
    font-size: 0.875rem;
  }

  .burger-menu img {
    width: 1rem;
  }
}
@media screen and (max-width: 1200px) {
  .nav-menu__list {
    font-size: 0.875rem;
  }
  .nav-menu__item {
    margin-right: 1.25rem;
  }
}
.banner {
  background: url(../images/content/banner.jpg), #263041;
  background-size: cover;
  background-position: center;
  text-align: center;
  min-height: 50em;
}
@media screen and (max-width: 500px) {
  .banner {
    min-height: 30em;
  }
}

.about {
  background: #e9f9ff;
}
@media (max-width: 768px) {
  .about__text-content {
    padding-top: 0;
  }
}
.about img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*# sourceMappingURL=style.css.map */
