/*--------------------------------------------------------------
# Import
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Volkhov:wght@700&display=swap");
.color-background-accent {
  background-color: rgb(227, 237, 240);
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.1;
  font-family: "Volkhov", serif;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.4375rem;
  font-weight: bold;
  line-height: 1.1;
  font-family: "Volkhov", serif;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  font-family: "Volkhov", serif;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.5625rem;
  font-weight: bold;
  line-height: 1.1;
  font-family: "Volkhov", serif;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.1;
  font-family: "Volkhov", serif;
  margin-bottom: 1rem;
}

h6 {
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.1;
  font-family: "Volkhov", serif;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: currentColor;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.text-white {
  color: white;
}

.text-small {
  font-size: 0.875rem;
}

.text-small-bold {
  font-size: 0.875rem;
  font-weight: bold;
}

.uppercase {
  text-overflow: uppercase;
}

.no-margin {
  margin: 0;
}

@media screen and (max-width: 320px) {
  h5 {
    font-size: 1rem;
  }

  h2 {
    font-size: 2rem;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 0.75rem;
  }

  .btn {
    font-size: 0.75rem;
  }
}
.btn {
  color: white;
  background: #d32f2f;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.625rem 1.5625rem;
  border: none;
  border-radius: 0.125rem;
}

.btn-small {
  color: white;
  background: #d32f2f;
  font-weight: bold;
  font-size: 0.6875rem;
  text-transform: uppercase;
  padding: 0.1875rem 0.8125rem;
  border: none;
  border-radius: 0.125rem;
}

.btn:hover {
  color: white;
}

.btn-animation {
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn-animation:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #263041;
  transition: all 0.3s;
  z-index: -1;
}
.btn-animation:hover:before {
  width: 100%;
}

.underline-link:hover {
  text-decoration: underline solid 2px;
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.1em;
}

.cursor-pointer {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  color: black;
}

.spacer-top {
  padding-top: 8rem;
}

.spacer-top-small {
  padding-top: 4rem;
}

.spacer-bottom {
  padding-bottom: 8rem;
}

.spacer-bottom-small {
  padding-bottom: 4rem;
}

@media screen and (max-width: 575px) {
  .spacer-top {
    padding-top: 4rem;
  }

  .spacer-bottom {
    padding-bottom: 4rem;
  }

  .spacer-top-small {
    padding-top: 2rem;
  }

  .spacer-bottom-small {
    padding-bottom: 2rem;
  }
}
.swiper-pagination {
  position: static !important;
  width: auto !important;
  margin: 0 1rem;
}

.swiper-pagination-fraction {
  font-weight: bold;
}

.swiper-btn {
  opacity: 0.75;
  position: static !important;
  margin: 0 !important;
  width: 50px !important;
  height: 50px !important;
}

.swiper-btn:hover {
  opacity: 1;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  padding: 1.75em 0;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.burger-menu {
  z-index: 15;
  margin-right: 1.5rem;
}

.logo {
  white-space: nowrap;
  font-size: 1.5625rem;
  font-weight: bold;
  line-height: 1.1;
  font-family: "Volkhov", serif;
  padding-right: 1.5em;
  z-index: 15;
  transition: 0.6s;
}

.logo._active {
  color: white;
  transition: all 0.3s ease 0s;
}

.logo--white {
  color: white;
}

.nav-menu__link:hover {
  text-decoration: underline solid 2px;
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.125em;
}

.nav-menu__list > :last-child {
  margin: 0;
}

.nav-menu__item {
  padding: 0.2rem 0.4rem;
  margin-right: 1.475em;
}

.phone-link {
  color: black;
  display: flex;
  align-items: center;
  border: 2px solid transparent;
}
.phone-link__phone-call-icon {
  font-size: 1.1em;
  font-weight: bold;
  margin-right: 0.325em;
}

.phone-link:hover {
  border-bottom: 2px solid black;
}

.contact-btn {
  margin-left: 1.875em;
}

body._lock {
  overflow: hidden;
}

.burger-menu__icon {
  display: none;
}

._menu-active {
  border: none;
  border-radius: 0.125rem;
  background-color: #d32f2f !important;
}
._menu-active :hover {
  text-decoration: none;
}
._menu-active a {
  color: white;
}

@media (max-width: 991px) {
  .burger-menu__icon {
    z-index: 20;
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
  }

  .burger-menu__icon span,
.burger-menu__icon::before,
.burger-menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: black;
  }

  .burger-menu__icon::before,
.burger-menu__icon::after {
    content: "";
  }

  .burger-menu__icon::before {
    top: 0;
  }

  .burger-menu__icon::after {
    bottom: 0;
  }

  .burger-menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .burger-menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }

  .burger-menu__icon._active::before {
    background-color: white;
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .burger-menu__icon._active::after {
    background-color: white;
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .nav-menu::before {
    content: "";
    position: fixed;
    width: 50%;
    top: 0;
    left: -100%;
    height: 6.625rem;
    transition: all 0.3s ease 0s;
    background-color: #d32f2f;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  }

  .nav-menu._active::before {
    content: "";
    position: fixed;
    width: 50%;
    top: 0;
    left: 0;
    height: 6.25rem;
    background-color: #d32f2f;
  }

  .nav-menu._active {
    left: 0;
  }

  .nav-menu {
    position: fixed;
    overflow: auto;
    z-index: 10;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    transition: all 0.3s ease 0s;
    background: #263041;
    border-right: 1px solid #263041;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.8);
  }
  .nav-menu .nav-menu__list {
    margin-top: 8.25rem;
  }
  .nav-menu .nav-menu__item {
    text-align: left;
    margin: 0;
    padding: 1rem;
    font-size: 1rem;
  }
  .nav-menu .nav-menu__link {
    color: white;
  }
}
@media screen and (max-width: 575px) {
  .nav-menu._active::before {
    height: 3.85rem;
  }

  .header {
    padding: 1em 0;
  }

  .logo {
    font-size: 1rem;
  }

  .nav-menu__list {
    margin-top: 6.5rem !important;
  }
}
@media screen and (max-width: 375px) {
  .nav-menu._active::before {
    height: 3.4rem;
  }

  .header {
    font-size: 0.875rem;
  }

  .nav-menu__list {
    margin-top: 5.25rem !important;
  }

  .burger-menu {
    margin-right: 0.5rem;
  }
}
@media screen and (max-width: 1200px) {
  .nav-menu__list {
    font-size: 0.875rem;
  }
  .nav-menu__item {
    margin-right: 0.825rem;
  }
}
.footer {
  background: #263041;
  color: rgba(255, 255, 255, 0.6);
}
.footer a {
  color: white;
}

.footer-nav > li {
  color: white;
  margin-bottom: 0.3rem;
}

.socials-item {
  margin-bottom: 1.5rem;
}

.socials-item > p {
  margin: 0;
  font-weight: bold;
}

.socials-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}
.socials-list__item {
  margin: 0 0.5rem 0.5rem 0;
}
.socials-list__item :hover {
  background: #d32f2f;
  border-radius: 0.125rem;
  transition: background-color 0.4s ease;
}
.socials-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  height: 2.25rem;
}
.socials-list__icon {
  width: 1.125rem;
  height: 1.125rem;
}

.home {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/content/banner.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  min-height: 50em;
}
@media screen and (max-width: 500px) {
  .home {
    min-height: 30em;
  }
}

@media (max-width: 768px) {
  .about__text-content {
    padding-top: 0;
  }
}
.about img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.services__img {
  position: relative;
  text-align: center;
  color: white;
}
.services__img img {
  width: 100%;
  height: 100%;
  filter: brightness(75%);
}
.services__img h5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.services__card p {
  margin: 0;
  padding-top: 1rem;
}

.testimonials {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/content/testimonials/background.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.faq__content h2 {
  text-align: center;
  margin-bottom: 4rem;
}
.faq__content h5 {
  margin: 0;
  padding: 1.5rem 0;
}
.faq__content h5 img {
  padding-right: 0.5em;
}
.faq__content h5:last-child {
  border-bottom: none;
}
.faq__content .btn {
  margin-top: 4rem;
}

.faq__item {
  border-bottom: 1px solid rgb(182, 182, 182);
}
.faq__item p {
  display: none;
}

.faq__item:hover {
  cursor: pointer;
}
.faq__item:hover p {
  display: block;
}

.item-last {
  border-bottom: none;
}

@media screen and (max-width: 575px) {
  .faq__content h2 {
    margin-bottom: 2rem;
  }
  .faq__content .btn {
    margin-top: 2rem;
  }
}
.contact-us {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/content/banner.jpg);
  background-size: cover;
  background-position: center;
}

@media (max-width: 1199px) {
  .work-process__text-content {
    padding-top: 4rem;
  }
}
@media (max-width: 575px) {
  .work-process__text-content {
    padding-top: 2rem;
  }
}
.work-process img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.work-process__text-content ol {
  padding: 1.25rem;
  padding-right: 0;
}
.work-process__text-content li::marker {
  font-weight: bold;
}

.contact-us-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/content/contact-us/contact-us-banner.jpg);
  background-size: cover;
  background-position: center;
}

.contact-us-address__item {
  margin-bottom: 0.625rem;
}
.contact-us-address__item p {
  margin: 0;
}
.contact-us-address__link {
  color: red;
}
.contact-us-address__link:hover {
  color: red;
}

@media (max-width: 768px) {
  .contact-us-address__text-content {
    padding-bottom: 2rem;
  }
}
.form-body h3 {
  margin-bottom: 1.25rem;
}
.form-body__field {
  padding-bottom: 1rem;
}
.form-body__input {
  min-height: 2.875rem;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 1.25rem;
}

.faq-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/content/faq/faq-banner.jpg);
  background-size: cover;
  background-position: center;
}

.faq-page-item {
  border-bottom: 1px solid rgb(182, 182, 182);
}

.news-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/content/news/news-banner.jpg), #263041;
  background-size: cover;
  background-position: center;
}

.blog-post__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.blog-post__content {
  margin-top: 1rem;
}
.blog-post__date {
  margin: 0;
  opacity: 0.5;
}
.blog-post__main-text {
  margin-bottom: 0.25rem;
}
.blog-post__link {
  color: #d32f2f;
  font-weight: bold;
}
.blog-post__link:hover {
  color: #d32f2f;
  font-weight: bold;
}
.blog-post .pair-buttons {
  margin: 1rem 0;
}
.blog-post .pair-buttons__single-btn {
  margin: 0 0.4rem;
}

.blog-post-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/content/news/news-single-banner.jpg), #263041;
  background-size: cover;
  background-position: center;
}

.blog-post-single {
  margin-bottom: 2rem;
}
.blog-post-single__link {
  font-weight: bold;
  color: white;
}
.blog-post-single__date {
  opacity: 0.6;
}

.blog-post-content__main p {
  margin: 2rem 0;
}
.blog-post-content__main p:last-child {
  margin-bottom: 0;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.disable-select {
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

/*# sourceMappingURL=style.css.map */
