.banner {
  
  background: $color-overlay, url(../images/content/banner.jpg), $color-secondary;
  background-size: cover;
  background-position: center; 
  text-align: center;
  min-height: 50em;
  @media screen and (max-width: 500px) {
    min-height: 30em;
  }
}


