.testimonials {
  background: $color-overlay, url(../images/content/testimonials/background.jpg), $color-secondary;
  background-size: cover;
  background-position: center; 
}

.carousel-nav__text {
  margin: 0;
  padding: 0 1rem;
}

.testimonials__content {
  text-align: center;
}