.testimonials {
  background-image: url(../images/content/testimonials/background.jpg);
  background-size: cover;
  background-position: center; 
}

.carousel-nav__text {
  margin: 0;
  padding: 0 1rem;
}

.testimonials__content {
  text-align: center;
}