.faq-banner {
  background: $color-overlay, url(../images/content/faq/faq-banner.jpg);
  background-size: cover;
  background-position: center; 
}

.faq-page-item {
  border-bottom: 1px solid rgb(182, 182, 182);
}