.contact-us-address {
  &__item {
    margin-bottom: .625rem;
    p {
      margin: 0;
    }
    
  }
  
  &__link {
    color: red;
    
  }
  &__link:hover {
    color: red;
    
  }
}




@media (max-width: 576px) {
  .contact-us-address__text-content {
    padding-bottom: 1rem;
  }
}