$color-secondary: #263041;
$color-dark: #242222;
$color-white: #ffffff;
$color-error: #f44336;
$color-success: #0f834d;
$color-warning: #fff4dd;

$color-accent: lighten($color-secondary, 10%);
$color-overlay: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

.color-background-accent {
  background-color: rgb(227, 237, 240);
}
