.btn {
  color: white;
  background: #d32f2f;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.625rem 1.5625rem;
  border: none;
  border-radius: 0.125rem;
}

.btn-small {
  color: white;
  background: #d32f2f;
  font-weight: bold;
  font-size: .6875rem;
  text-transform: uppercase;
  padding: .1875rem .8125rem;
  border: none;
  border-radius: 0.125rem;
}

.btn:hover {
  color: white;
}

.btn-animation {
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: $color-secondary;
    transition: all 0.3s;
    z-index: -1;
  }
  &:hover {
    &:before {
      width: 100%;
    }
  }
}
