.main-content {
  margin: 15rem 0;
}

@media screen and (max-width: 375px) {
  .main-content {
    margin: 5rem 0;
    
    h5 {
      font-size: 1rem;
    }
    h1 {
      font-size: 2rem;
    }
    p {
      font-size: .75rem;
    }
    .btn {
      font-size: .75rem;
    }
  }

}

