.main-content {
  margin: 1em;
}

@media screen and (max-width: 500px) {
  .main-content {
    h5 {
      font-size: 1rem;
    }
    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 0.75rem;
    }
    .btn {
      font-size: 0.75rem;
    }
  }
}
