.spacer-top {
  padding-top: 8rem;
}

.spacer-bottom {
  padding-bottom: 8rem;
}

@media screen and (max-width: 575px) {
  .spacer-top {
    padding-top: 4rem;
  }
  
  .spacer-bottom {
    padding-bottom: 4rem;
  }
}