.swiper {
 height: 36.25rem;
  
}

 .swiper-slide {
  object-fit: cover;
} 

.swiper-btn {
  position: static !important;
  margin: 0 !important;
  width: 50px !important;
  height: 50px !important;
}

